.slider-container {
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
}

.slider-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Oklar */
.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 3rem;
  color: white;
  background: transparent;
  border: none;
  cursor: pointer;
  z-index: 10;
  transition: transform 0.2s;
}

.arrow:hover {
  transform: translateY(-50%) scale(1.1);
}

.arrow.left {
  left: 20px;
}

.arrow.right {
  right: 20px;
}

/* Dotlar */
.dots {
  position: absolute;
  bottom: 15px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 8px;
}

.dot {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: white;
  opacity: 0.5;
  transition: all 0.3s ease;
  cursor: pointer;
}

.dot.active {
  opacity: 1;
  background-color: white; /* Aktif dot rengi */
}
